<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614900655007-laubaje8q1otij6bnbu5jss8f44kntoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614900655007-laubaje8q1otij6bnbu5jss8f44kntoa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614900655007-ltp71pk1hu3vvalb6jkgbd0ln7sc6335.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY3w73iDNM_2J9BIgslVlpBp3PeOFilEI</string>
	<key>GCM_SENDER_ID</key>
	<string>614900655007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shsProject</string>
	<key>PROJECT_ID</key>
	<string>shs-project-9e9cb</string>
	<key>STORAGE_BUCKET</key>
	<string>shs-project-9e9cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614900655007:ios:ac9bd6e4f5627ddf8393aa</string>
</dict>
</plist>